/* VARS */
* {
  outline: none !important;
  text-decoration: none; }

body {
  font-family: "gotham";
  font-weight: 400;
  color: #434242;
  font-size: 0.875rem;
  min-width: 320px; }

a, a:hover {
  text-decoration: none; }

html {
  font-size: 16px; }

.h1, .h2, .h3, .h4, .h5 {
  font-family: "raleway";
  font-weight: 700;
  color: #000; }

.h1 {
  font-size: 4.375rem; }

.h2 {
  font-size: 1.625rem; }

.h3 {
  font-size: 1.375rem;
  font-family: "gotham";
  font-weight: 500;
  color: #242424;
  font-size: 1.25rem; }

.text-blue {
  color: #2e5aca; }

a, input[type="submit"] {
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }

.general_wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .general_wrapper section {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }

.bread .breadcrumb {
  background: transparent; }
  .bread .breadcrumb .breadcrumb-item, .bread .breadcrumb a {
    color: #a6a6a6;
    font-size: 0.875rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400; }

.bread .breadcrumb-item + .breadcrumb-item::before {
  font-family: "FontAwesome";
  content: '\f178'; }

/* HAMBURGER */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  position: relative;
  right: 0;
  cursor: pointer;
  z-index: 1110;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

/*
   * Squeeze ANIMATION
   */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
       -o-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner:before {
    -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    -o-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner:after {
    -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
       -o-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner:before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    -o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner:after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* END HAMBURGER */
.form_style {
  background: #3c4348;
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  padding: 3.625rem 5.3125rem;
  padding-bottom: 7.5rem; }
  .form_style input[type="submit"] {
    margin-left: 15px; }
  .form_style label {
    color: #969696;
    font-size: 0.875rem;
    position: absolute;
    top: 35px;
    -webkit-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
    cursor: text; }
    .form_style label.in_focus {
      top: 9px; }
  .form_style .form-control {
    background: transparent;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-bottom: 2px solid #d6d6d6;
    -webkit-border-radius: 0;
            border-radius: 0;
    padding-left: 0;
    padding-top: 0.6875rem;
    padding-bottom: 0.6875rem;
    margin-top: 1.5625rem; }
  .form_style .block:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    background: #3d6ef9;
    -webkit-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out; }
  .form_style .block.in_focus:after {
    width: 93%; }

#push {
  height: 100vh; }

.index-page header {
  position: absolute;
  top: 0;
  width: 100%; }

header .row {
  background: rgba(0, 0, 0, 0.85); }

header .logo img {
  max-width: 160px; }

header .nav .nav-link {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 1.1875rem;
  color: #fff; }
  header .nav .nav-link.active {
    font-weight: 700; }
